{
    "env": {
        "browser": true,
        "es6": true,
        "jquery": true,
        "node": true
    },
    "extends": [
    	"airbnb",
        "plugin:graphql"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "array-element-newline": "consistent",
        "linebreak-style": [
            "error",
            "unix"
        ],
        "no-constant-condition": "warn",
        "no-unused-vars": "warn",
        "quotes": [
            "error",
            "single",
            { "allowTemplateLiterals": true }
        ],
        "react/jsx-uses-vars": [2],
        "semi": [
            "error",
            "never"
        ]
    }
}